@import "var.scss";
.introduce_wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 969px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    .screen_bottom{
      position: absolute;
      bottom: 0px;
      width: 100%;
      z-index: 3;
      height: 300px;
      background-color: rgba(#000000,0.88);
    }
    .introduce_screen{
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
    }
   
}
.screen{        
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  transition: all .6s;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 100px;
}
.bigScreen{
    z-index: 6;
    width: 1000px; 
    border-left: 7px solid #222222;
    border-right: 7px solid #222222;
    border-bottom: 10px solid #222222;
    border-top: 20px solid #222222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    .browser{      
        height: 100%;
        width: 100%;
        .browser_top{
            width: 100%;
            height: 43px;
            background-color: #d4d3d3;
            display: flex;
            align-items: center;
            span:last-child{
                display: block;   
                margin: 0 auto;
                color: black;
                width: 80%;     
                background-color: white;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                position: relative;
                .search_content{
                    width: 753px;
                    position: absolute;
                    top:25px;
                    left:1px;
                    z-index: 9;
                    background-color: #ecf1ff;
                    border: 0;
                    padding: 5px 10px;
                    line-height: 1.2em;
                    border-top:3px solid black;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    font-family: sans-serif;
                    li{
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                input{
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border: 0;
                    font-weight: bold;
                }
                input:focus{
                    outline:none
                }
                button{   
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;     
                    width: 40px;
                    height: 100%;
                    text-align: center;
                    position: absolute;
                    top:0;
                    right: -13px;
                    background-color: #afaeae;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                button:focus{
                    outline:none ;    
                }
                button:active{
                    background-color:#949494 
                }
                
            }
            span:not(:nth-child(4)){  
                display: inline-block;        
                width: 24px;
                height: 24px;  
                border-radius: 50%;
                margin: 0px 5px ;
            }
            span:nth-child(1){
                margin-left: 15px;
                background-color: #4386dd;
            }
            span:nth-child(2){
                background-color: #10eb59;
            }
            span:nth-child(3){
                background-color: #e43636;
            }
        }
        .browser_body{
            width: 100%;
            height: 100%;
            min-height: 600px;
            max-height: 600px;
            background-color: rgba(#ebebeb,1);  
            overflow-y : scroll;
            overflow-x : hidden; 
            scrollbar-width: 0px; 
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .browser_body-title{
                position: absolute;
                top:30px;
                left: 20px;
                font-size: 25px;
                color:#bb4343;
            }
            .browser_content{
                display: flex;       
                padding: 5px;
                width: 100%;
                height: 100%;
                max-width: 800px;
                justify-content: center;
                align-items: center;
                img{
                    width: 200px;
                    height: 300px;
                    border-radius: 15px ;
                    margin-right: 20px;
                    animation: tilt-in-top-1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
                .me_wrap{
                    
                    .me_body{
                        display: flex;
                        flex-direction: column;
                        .me_name{   
                            animation: slide-in-blurred-top 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                            font-family: sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                            span{
                                border-top: 3px solid brown;
                                font-size: 36px; 
                                margin-right: 10px;
                                font-weight: normal;
                                font-family: 'Anton', sans-serif;
                            }
                        }
                        .me_birthday{
                            animation: slide-in-blurred-top 1.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                            font-size: 28px;
                            font-weight: bold;   
                            margin-top: 10px;                
                            span{     
                                font-size: 20px; 
                                margin-right: 10px;
                                font-weight: normal;
                               
                            }
                        }
                        .me_age{
                            animation: slide-in-blurred-top 1.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                            font-size: 28px;
                            font-weight: bold;   
                            margin-top: 10px;  
                            margin-top: 20px;
                            span{
                                border-top: 3px solid brown;
                                margin-left: 10px;
                            } 
                        }
                    }
                }
               
            }
        }
    }
}
.browser_lang{
    width: 100%;
    height: 100%;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 300px;
    align-items: center;
    .me_useLanguage{
        .me_useLanguage-body{
            h1{
                font-size: 35px;        
                text-align: center;
                margin: 30px 0 10px;
                span{
                    border-top: 5px solid rgb(194, 55, 55);
                }
            }
            h2{
                font-size:28px;        
                text-align: center;
                margin: 30px 0 10px;
                display: flex;
                justify-content: center;
                span:nth-child(2){
                    border-top: 5px solid rgb(5, 43, 75);
                }  
                span:nth-child(1){
                    position: relative;
                    font-size: 15px;      
                }
                span:nth-child(1)::before{
                    content: "";
                    position: absolute;
                    top:-5px;
                    width: 20px;
                    border-top: 3px solid red;     
                }
                span:nth-child(1)::after{
                    content: "";
                    position: absolute;
                    right: 0px;
                    bottom:15px;
                    width: 22px;
                    border-bottom: 3px solid red;     
                }
            }
            .me-lang-info{
                width: 100%;
                height: 500px;
                .me_front{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 300px;
                        border-radius: 15px;     
                    }
                    img:nth-child(1){
                        -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }
                    img:nth-child(2){
                        -webkit-animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                    animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }
                    .imgplus{
                        -webkit-animation: flip-in-hor-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                    animation: flip-in-hor-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        margin-left: 10px;
                        width: 280px;
                        height: 280px;
                        border-radius: 50%;
                    }
                }
               
            }
        }
    }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

@keyframes cursorInif{
    0%{
        opacity: 0.1;
    }50%{
        opacity: 0.8;
    }100%{
        opacity: 0.1;
    }
}
@keyframes cursorInif2{
    0%{
        opacity: 0.1;
    }10%{
        opacity: 1;  
    }20%{
        opacity: 0.1;
    }40%{
        opacity: 1;
    }
    90%{
        opacity: 0.8;
    }100%{
        opacity: 0.1;
    }
}
@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes tilt-in-bottom-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  } 
@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }

  @keyframes s_control{
      0%{
          opacity: 0;
      }10%{
          opacity: 0.3;
      }30%{
          opacity: 0.6;
      }80%{
        opacity: 0.8;
      }100%{
          opacity: 1;
      }
  }