@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
// font-family: 'Anton', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@700&display=swap');
//font-family: 'Sunflower', sans-serif;
$light_purple : #393276;
$bright_purple : #837EB1;
$bright_purple2 : #5B5494;
$purple : #1F1959;
$dark_blue : #0D083B;
